#titulo {
    color: antiquewhite;
}

.verde{
    color: blueviolet;
}



h1 {
    color:red;
}


p{
    color: red;
}


h1{
    color: aqua;
}

.títulos-grandes {
font-size: 50px ;
}

.verde{
    color:red;
}