.caixa_width{
   /* espessura, tipo e a cor width , style e color */
    border:2px solid #f00;
   width: 200px;
   /* shorthand varios valores ne msm propiedade */
}

.imagem_width{
    width: 300px;
}

.caixa_height {
    border: 3px dashed #0f0;
    
    height: 100px;
    width: 100px;
}